<app-entry></app-entry>
<section>
  <ul class="list-unstyled">
    <li class="alert"
        [ngClass]="{'alert-info': !item.completed, 'alert-success': item.completed }"
        *ngFor="let item of items">
      <input type="button"
             (click)="markComplete(item)"
             *ngIf="!item.completed"
             class="btn btn-sm btn-danger"
             value="X">
      <span [ngClass]="{'completed': item.completed }"> {{ item.description}}</span>
    </li>

  </ul>
  <div class="row">
    <input type="button"
           (click)="clearCompleted()"
           class="btn btn-danger"
           value="Clear Completed">
  </div>
</section>
