<span>{{count$|async }}</span>
<div>
  <input type="button"
         class="btn btn-sm btn-primary"
         value="-"
         (click)="decrement()"
         [disabled]='atTheStart$ |async'>
  <input type="button"
         class="btn btn-sm btn-primary"
         value="+"
         (click)="increment()">
  <input type="button"
         class="btn btn-sm btn-primary"
         value="Reset"
         (click)="reset()"
         [disabled]='atZero$ |async'>
</div>
<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          (click)="setCountBy(1)"
          [disabled]="(by$|async)===1"
          class="btn btn-secondary">1</button>
  <button type="button"
          (click)="setCountBy(3)"
          [disabled]="(by$|async)===3"
          class="btn btn-secondary">3</button>
  <button type="button"
          (click)="setCountBy(5)"
          [disabled]="(by$|async)===5"
          class="btn btn-secondary">5</button>
</div>
