<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['todo-list']">Todo List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['tip-calculator']">Tip Calculator</a>
  </li>

</ul>
